.content {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}

.postMetaData {
  display: flex;

  font-size: 1rem;
  span {
    display: flex;
    align-items: center;
    color: var(--gray-400);
    svg {
      margin-right: 0.5rem;
    }
    & + span {
      margin-left: 1.5rem;
    }
  }
}
