.container {
  > div:first-child {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;

    @media(min-width: 720px) {
      height: 300px;
    }

    @media(min-width: 1080px) {
      height: 400px;
    }
  }
}

.content {
  margin-bottom: 1.5rem 0;

  font-size: 1.125rem;
  line-height: 2rem;

  h1 {
    margin-bottom: 1.25rem;

    color: var(--white);

    font-size: 2rem;
    font-weight: 700;
  }

  h2 {
    margin: 2rem 0;

    color: var(--white);

    font-size: 1.5rem;
  }

  p {
    margin-bottom: 1.5rem;
  }

  ul {
    margin: 1.5rem 0;
  }

  ul {
    padding-left: 1.5rem;

    li {
      margin: 0.5rem 0;
    }
  }

  > hr {
    height: 1px;
    margin: 3rem 0;
    border: 0;

    background: var(--gray-100);

    opacity: 0.1;
  }

  footer {
    display: flex;
    margin-bottom: 3rem;

    span {
      display: block;
      margin-bottom: 0.25rem;

      color: var(--white);

      font-size: 1.5rem;
    }

    a {
      color: var(--pink);

      font-weight: 600;
      font-size: 1.25rem;

      transition: filter 0.2s;
      &:hover {
        filter: brightness(0.8)
      }
    }
  }
}

.editDate {
  color: var(--gray-400);

  font-style: italic;
  font-size: 1rem;
}
